<% if(typeof me === 'undefined') { var me = undefined; } %>

<!DOCTYPE html>
<!-- prettier-ignore -->
<html>

<head>
  <title><%= sails.config.custom.platformName %> | Home of trading and mining</title>

  <% /* Viewport tag for sensible mobile support */ %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="simpledcver"
    content="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkb21haW4iOiJtaW5lY3J5cHRvZnguY29tIiwiZXhwIjoxNjEyMTM3NjAwfQ.xlUgX0plfERPVERu930ebi7lYLFtgCQanLH9O7NOK44" />
  <% /* Script tags should normally be included further down the page- but any
    scripts that load fonts (e.g. Fontawesome ≥v5) are special exceptions to the
    rule. (Include them up here along with any hard-coded «link» tags for Typekit,
    Google Fonts, etc. - above the «body» to prevent the page flickering when fonts
    load.) */ %>

  <% /* Certain scripts, normally analytics tools like Google Tag Manager and
    Google Analytics, should only be included in production: */
    if (sails.config.environment === 'production') { %>
  <!-- Google Analytics, Google Tag Manager, etc. -->
  <% }
    /* Otherwise, any such scripts are excluded, and we instead inject a
    robots/noindex meta tag to help prevent any unwanted visits from search engines. */
    else { %>
  <meta name="robots" content="noindex" />

  <script async defer src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
  <% } %>

  <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css">
  <% /* Auto-injected «link» tags: */ %>
  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
  <link rel="stylesheet" href="/dependencies/fontawesome.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/sb-admin-2.css">
  <link rel="stylesheet" href="/styles/style-starter.css">
  <!--STYLES END-->
</head>

<body>

  <div>


    <!-- Top Menu 1 -->
    <section class="w3l-top-menu-1">
      <div class="top-hd">
        <!-- NOTICE FOR ACQUISATION -->
        <div class="alert alert-info alert-dismissible" role="alert" style="margin: 0px">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Notice!</strong>
          MINECRYPTOFX has acquired COINBOOSTER to put better actionable trading and mining strategies at your
          fingertips
        </div>
        <!-- / NOTICE FOR ACQUISATION -->

        <!-- PAYMENT NOTICE -->
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <marquee behavior="" direction="">
            All payments must be made to the company's wallet address and not to the account managers. The company won't
            be held liable for any payments not made into their company wallet.
          </marquee>
        </div>
        <!--/ PAYMENT NOTICE -->

        <div class="container">
          <header class="row">
            <div class="social-top col-sm-6 col-6 pl-0">
              <li>Welcome to MINECRYPTOFX</li>

            </div>
            <div class="accounts col-sm-6 col-6 pr-0">
              <% if(me&&me.id) { %>
              <li class="top_li1"><a href="/">Dashboard</a></li>
              <% } else { %>
              <li class="top_li1"><a href="/login">Login</a></li>
              <li class="top_li2"><a href="/signup">Register</a></li>
              <% }  %>

            </div>

          </header>
        </div>
      </div>
    </section>
    <!-- //Top Menu 1 -->
    <section class="w3l-bootstrap-header">
      <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Mine</span>cryptofx</a>
          <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fas fa-bars"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <p>For Support Call<span class="fas fa-headphones pl-1"></span><br><a
                href="tel:+447441445347">+447441445347</a></p>
          </div>
        </div>
      </nav>
    </section>
    <!-- Alert if email has not been confirmed -->
    <% if(me&&me.emailChangeCandidate) { %>
    <div class="container-fluid">
      <div class="alert alert-secondary mt-2" role="alert">
        Your updated email address needs verification. Until you click the link sent to
        <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as
        <strong><%= me.emailAddress %></strong>.
      </div>
    </div>
    <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
    <div class="container-fluid">
      <div class="alert alert-secondary mt-2" role="alert">
        Your email address still needs verification. Your account access may be limited until you click the link sent to
        <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
      </div>
    </div>
    <% } %>

    <%- body %>



    <section class="w3l-footer-29-main">

      <div class="footer-29">
        <div class="container">
          <div class="d-grid grid-col-6 footer-top-29">
            <div class="footer-list-29 footer-1">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li>
                  <p><span class="fas fa-map-marker"></span>Úzká 197 691 51 Lanžhot.</p>
                </li>
                <li><a href="tel:+447441445347"><span class="fas fa-phone"></span> +447441445347</a></li>
                <li><a href="mailto:support@minecryptofx.com" class="mail">
                    <span class="fas fa-envelope-open-o"></span>
                    support@minecryptofx.com</a></li>
                <li><a href="mailto:info@minecryptofx.com" class="mail">
                    <span class="fas fa-envelope-open-o"></span>
                    info@minecryptofx.com</a></li>
                <li><a href="mailto:admin@minecryptofx.com" class="mail">
                    <span class="fas fa-envelope-open-o"></span>
                    admin@minecryptofx.com</a></li>
              </ul>
            </div>


            <div class="footer-list-29 footer-2">
              <ul>
                <h6 class="footer-title-29">Legal</h6>
                <li><a href="/legal/terms">Terms</a></li>
                <li><a href="/legal/privacy">Privacy</a></li>
              </ul>
            </div>

            <div class="footer-list-29 footer-3">
              <ul>
                <h6 class="footer-title-29">Quick Links</h6>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="d-grid grid-col-2 bottom-copies">
            <p class="copy-footer-29">© 2020 MINECRYPTOFX. All rights reserved</p>
            <ul class="list-btm-29">
              <li><a href="/legal/privacy">Privacy policy</a></li>
              <li><a href="/terms">Terms of service</a></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </section>

    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60081c2fc31c9117cb7092b5/1esfqs7bp';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->


    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/vue-router.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/admin-dashboard-analytics.component.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/footer.component.js"></script>
    <script src="/js/components/investment-plans.component.js"></script>
    <script src="/js/components/js-timestamp.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/components/user-dashboard-analytics.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/about.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/admin.page.js"></script>
    <script src="/js/pages/admin/add-money.page.js"></script>
    <script src="/js/pages/admin/dashboard.page.js"></script>
    <script src="/js/pages/admin/user.page.js"></script>
    <script src="/js/pages/admin/users.page.js"></script>
    <script src="/js/pages/admin/withdraw-request.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/mining.page.js"></script>
    <script src="/js/pages/dashboard/trading.page.js"></script>
    <script src="/js/pages/dashboard/transactions.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/trading/ab-tv.js"></script>
    <script src="/js/trading/cryptoCurrency.js"></script>
    <!--SCRIPTS END-->


</body>

</html>