<% if(typeof me === 'undefined') { var me = undefined; } %>
<!DOCTYPE html>
<html>

<head>
  <title>Gainminer | User Dashboard</title>

  <% /* Viewport tag for sensible mobile support */ %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <% /* Script tags should normally be included further down the page- but any
    scripts that load fonts (e.g. Fontawesome ≥v5) are special exceptions to the
    rule. (Include them up here along with any hard-coded «link» tags for
    Typekit, Google Fonts, etc. - above the «body» to prevent the page
    flickering when fonts load.) */ %> <% /* Certain scripts, normally analytics
    tools like Google Tag Manager and Google Analytics, should only be included
    in production: */ if (sails.config.environment === 'production') { %>
  <!-- Google Analytics, Google Tag Manager, etc. -->
  <% } /* Otherwise, any such scripts are excluded, and we instead inject a
    robots/noindex meta tag to help prevent any unwanted visits from search
    engines. */ else { %>
  <meta name="robots" content="noindex" />
  <% } %> <% /* Stylesheets ======================== Stylesheets can be
    hard-coded as «link» tags, automatically injected by the asset pipeline
    between "STYLES" and "STYLES END", or both.
    (https://sailsjs.com/docs/concepts/assets/task-automation) */ %> <% /*
    Auto-injected «link» tags: */ %>

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
  <link rel="stylesheet" href="/dependencies/fontawesome.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/sb-admin-2.css">
  <link rel="stylesheet" href="/styles/style-starter.css">
  <!--STYLES END-->
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Welcome</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading">Interface</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Account</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Account Settings:</h6>
            <a class="collapse-item" href="/account">Profile</a>
            <a class="collapse-item" href="/account/password">Password</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Wallet</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Wallet:</h6>
            <a class="collapse-item" href="/dashboard/transactions/history">History</a>
            <a class="collapse-item" href="/dashboard/transactions">Transactions</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <li class="nav-item">
        <a class="nav-link" href="/contact">
          <i class="fas fa-fw fa-table"></i>
          <span>Contact Us</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-fw fa-logout"></i>
          <span>Logout</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fas fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= me?.fullName %></span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/account">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="/account/profile">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <!-- Alert if email has not been confirmed -->
          <% if(me&&me.emailChangeCandidate) { %>
          <div class="container-fluid">
            <div class="alert alert-secondary mt-2" role="alert">
              Your updated email address needs verification. Until you click
              the link sent to
              <strong><%= me.emailChangeCandidate %></strong>, you'll still
              need to sign in as <strong><%= me.emailAddress %></strong>.
            </div>
          </div>
          <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
          <div class="container-fluid">
            <div class="alert alert-secondary mt-2" role="alert">
              Your email address still needs verification. Your account access
              may be limited until you click the link sent to
              <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate :
                  me.emailAddress%></strong>.
            </div>
          </div>
          <% } %> <%- body %>

          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
  </div>

  <% /* Client-side JavaScript ======================== Scripts can be
    hard-coded as «script» tags, automatically injected by the asset pipeline
    between "SCRIPTS" and "SCRIPTS END", or both.
    (https://sailsjs.com/docs/concepts/assets/task-automation) */ %> <%/*
    Stripe.js */%> <% /* Delete the global `self` to help avoid client-side
    bugs. (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */
    %>
  <script>
    delete window.self;
  </script>

  <%/* bowser.js (for browser detection) -- included inline to avoid issues
    with minification that could affect the unsupported browser overlay */%> <%
    /* Auto-injected «script» tags: */ %>
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/lodash.js"></script>
  <script src="/dependencies/jquery.min.js"></script>
  <script src="/dependencies/vue.js"></script>
  <script src="/dependencies/vue-router.js"></script>
  <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
  <script src="/dependencies/cloud.js"></script>
  <script src="/dependencies/moment.js"></script>
  <script src="/dependencies/parasails.js"></script>
  <script src="/js/cloud.setup.js"></script>
  <script src="/js/components/admin-dashboard-analytics.component.js"></script>
  <script src="/js/components/ajax-button.component.js"></script>
  <script src="/js/components/ajax-form.component.js"></script>
  <script src="/js/components/footer.component.js"></script>
  <script src="/js/components/investment-plans.component.js"></script>
  <script src="/js/components/js-timestamp.component.js"></script>
  <script src="/js/components/modal.component.js"></script>
  <script src="/js/components/user-dashboard-analytics.component.js"></script>
  <script src="/js/utilities/open-stripe-checkout.js"></script>
  <script src="/js/owl.carousel.js"></script>
  <script src="/js/pages/498.page.js"></script>
  <script src="/js/pages/about.page.js"></script>
  <script src="/js/pages/account/account-overview.page.js"></script>
  <script src="/js/pages/account/edit-password.page.js"></script>
  <script src="/js/pages/account/edit-profile.page.js"></script>
  <script src="/js/pages/admin.page.js"></script>
  <script src="/js/pages/admin/add-money.page.js"></script>
  <script src="/js/pages/admin/dashboard.page.js"></script>
  <script src="/js/pages/admin/user.page.js"></script>
  <script src="/js/pages/admin/users.page.js"></script>
  <script src="/js/pages/admin/withdraw-request.page.js"></script>
  <script src="/js/pages/contact.page.js"></script>
  <script src="/js/pages/dashboard/mining.page.js"></script>
  <script src="/js/pages/dashboard/trading.page.js"></script>
  <script src="/js/pages/dashboard/transactions.page.js"></script>
  <script src="/js/pages/dashboard/welcome.page.js"></script>
  <script src="/js/pages/entrance/confirmed-email.page.js"></script>
  <script src="/js/pages/entrance/forgot-password.page.js"></script>
  <script src="/js/pages/entrance/login.page.js"></script>
  <script src="/js/pages/entrance/new-password.page.js"></script>
  <script src="/js/pages/entrance/signup.page.js"></script>
  <script src="/js/pages/faq.page.js"></script>
  <script src="/js/pages/homepage.page.js"></script>
  <script src="/js/pages/legal/privacy.page.js"></script>
  <script src="/js/pages/legal/terms.page.js"></script>
  <script src="/js/sb-admin-2.js"></script>
  <script src="/js/smoothscroll.js"></script>
  <script src="/js/trading/ab-tv.js"></script>
  <script src="/js/trading/cryptoCurrency.js"></script>
  <!--SCRIPTS END-->
</body>

</html>