<div id="edit-profile" v-cloak>
  <div class="container">
    <h1>Update personal info</h1>
    <hr />
    <ajax-form
      action="updateProfile"
      :syncing.sync="syncing"
      :cloud-error.sync="cloudError"
      @submitted="submittedForm()"
      :handle-parsing="handleParsingForm"
    >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="full-name">Full name</label>
            <input
              class="form-control"
              id="full-name"
              name="full-name"
              type="text"
              :class="[formErrors.fullName ? 'is-invalid' : '']"
              v-model.trim="formData.fullName"
              placeholder="Sturgis P. Sturgeon"
              autocomplete="name"
              focus-first
            />
            <div class="invalid-feedback" v-if="formErrors.fullName">
              Please enter your full name.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">Email address</label>
            <input
              class="form-control"
              id="email-address"
              name="email-address"
              type="email"
              :class="[formErrors.emailAddress ? 'is-invalid' : '']"
              v-model.trim="formData.emailAddress"
              placeholder="sturgeon@example.com"
              autocomplete="email"
            />
            <div class="invalid-feedback" v-if="formErrors.emailAddress">
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">Bitcoin Address</label>
            <input
              class="form-control"
              id="  bitcoin-address"
              name="bitcoin-address"
              :class="[formErrors.bitcoinAddress ? 'is-invalid' : '']"
              v-model.trim="formData.bitcoinAddress"
              placeholder="bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"
            />
            <div class="invalid-feedback" v-if="formErrors.bitcoinAddress">
              Please enter a valid bitcoin address
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError === 'emailAlreadyInUse'">
            There is already an account using that email address.
          </p>
          <p class="text-danger" v-else-if="cloudError">
            An error occured while processing your request. Please check your
            information and try again, or
            <a href="/contact">contact support</a> if the error persists.
          </p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancel</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark"
              >Save changes</ajax-button
            >
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
