<div id="mining" v-cloak>
  <section
    class="inner-header divider parallax layer-overlay overlay-white-8"
    style="
      background-image: url('https://cowrywise.com/images/patterns/footer-bg.svg');
      background-position: 50% 57px;
      padding: 20px;
    "
  >
    <div class="container pt-60 pb-60">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="title">Mining Dashboard</h2>
            <br />
            <!-- <div class="">
              <h3>Your Personal Affiliate Link:</h3>
              <a
                class="badge badge-primary"
                href="https://coinbooster.live/register?r=cb469219389"
                target="_blank"
              >
                https://gainminer.com/login?i={{ me.id }}
              </a>
            </div> -->
          </div>
          <br />
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <center>
                  <img
                    src="https://get.cryptobrowser.site/static/bl/images/features_2.png"
                  />
                  <h1 style="font-weight: bolder">{{ btcAmount }} BTC</h1>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />

  <user-dashboard-analytics
    :earnings="String(me.walletAmount)"
    :withdraw-request="String(withdrawals)"
  ></user-dashboard-analytics>

  <div class="text-center">
    <button
      v-if="!me.isActivated"
      class="btn btn-secondary btn-lg"
      @click="modal = 'activate'"
    >
      Activate {{ me.planType }} account
    </button>
    <button v-else class="btn btn-primary btn-lg" @click="modal = 'example'">
      withdraw now
    </button>
  </div>

  <!-- ACTIVATE ACCOUNT TYPE MODAL  -->
  <modal
    v-if="modal==='activate'"
    @close="modal = null"
    class="example-modal"
    v-cloak
  >
    <div class="modal-header">
      <h2 class="modal-title">Activate {{ me.planType }} account</h2>
      <p>
        At your leisure, please send - to the admins account, when done ask him
        to verify your account
      </p>
      <hr />
      <div class="modal-body">
        Bitcoin Address: - <b>{{ admin.bitcoinAddress }}</b>
      </div>
      <button
        type="button"
        class="modal-close-button"
        data-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-secondary">
        Close
      </button>
      <div>
        Because of security purposes, after sending the money contact the admin
        to activate your account
      </div>
      <!-- <button type="button" class="btn btn-primary btn-outline">
        I have sent the money
      </button> -->
    </div>
  </modal>

  <!-- WITHDRAW ACCOUNT MODAL -->
  <modal
    v-if="modal==='example'"
    @close="modal = null"
    class="example-modal"
    v-cloak
  >
    <div class="modal-header">
      <h2 class="modal-title">Withdraw now</h2>
      <p>
        At your leisure, please enter the amount to withdrawal and click the
        button to attempt a withdraw request
      </p>
      <hr />
      <div class="modal-body">
        <div v-if="cloudSuccess" class="alert alert-success">
          You have successfully requested for a withdraw, the admin will get
          back to you
        </div>
        <ajax-form
          action="createWithdrawal"
          :syncing.sync="syncing"
          :cloud-error.sync="cloudError"
          @submitted="submittedForm()"
          :handle-parsing="handleParsingForm"
        >
          <div class="form-group">
            <input
              type="number"
              name="withdrawAmount"
              class="form-control"
              placeholder="0"
              :class="[formErrors.withdrawAmount ? 'is-invalid' : '']"
              v-model.trim="formData.withdrawAmount"
            />
            <div class="invalid-feedback" v-if="formErrors.withdrawAmount">
              Please enter a amount
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              name="description"
              class="form-control"
              placeholder="Why do you want to withdraw"
              :class="[formErrors.description ? 'is-invalid' : '']"
              v-model.trim="formData.description"
            />
            <div class="invalid-feedback" v-if="formErrors.description">
              Please state why you want to withdraw
            </div>
          </div>

          <p class="text-danger" v-if="cloudError">
            <small
              >An error occured while processing your request. Please check your
              information and try again, or
              <a href="/contact">contact support</a> if the error
              persists.</small
            >
          </p>
          <div class="form-group">
            <ajax-button
              type="submit"
              :syncing="syncing"
              class="btn btn-primary btn-lg"
              >Withdraw {{ formData.withdrawAmount }}</ajax-button
            >

            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary btn-lg bt-outline"
            >
              Close
            </button>
          </div>
        </ajax-form>
      </div>
    </div>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>
