<div class="container" id="transactions" v-cloak>
  <h3>Transactions</h3>
  <br>
  <div>
    <table class="table table-hover table-responsive-md table-striped">
      <thead>
        <tr>
          <th scope="col">S\N</th>
          <th scope="col">Amount</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Bitcoin address</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(transaction => { %>

        <tr>
          <th scope="row"><%= transaction.id %></th>
          <td>{{ formatCurrency(<%= transaction.amount %>) }}</td>
          <td><%= transaction.description %></td>
          <td style="font-weight: bolder;" class="text-uppercase">
            <% if (transaction.status == 'failed'){ %>
            <span style="color:rgb(235, 5, 5)">
              <%= transaction.status %>
            </span>
            <% } else if (transaction.status == 'pending') { %>
            <span style="color:rgb(235, 181, 5)">
              <%= transaction.status %>
            </span>
            <% } else { %>
            <span style="color:rgb(5, 235, 120)">
              <%= transaction.status %>
            </span>
            <% } %>
          </td>

          <td><%= transaction.user?.bitcoinAddress || "No address" %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>