<div id="terms">
  <div class="container">
    <h1>Terms of service</h1>
    <hr />
    <div class="row justify-content-center pt-30">
      <div class="col-sm-12">
        <p>
          You agree to be of legal age in your country to partake in this program, and in all the cases
          your minimal age must be 18 years. This document was created in accordance with the rules of
          international law and business practice. Client agrees to behave politely with our support team and
          follow the instructions to prevent anyone from potentially negative situation.
        </p>

        <p>
          <a href="https://minecryptofx.com">Minecryptofx</a> is not available to the general public and is
          opened only to the qualified members of <a href="https://minecryptofx.com">Minecryptofx</a>,
          the use of this site is restricted to our members and to individuals personally invited by them.
          Every deposit is considered to be a private transaction between the Minecryptofx and its Member.
        </p>

        <p>
          As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities
          Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and
          amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.
        </p>

        <p>
          You agree that all information, communications, materials coming from <a
            href="https://minecryptofx.com">Minecryptofx</a>
          are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the
          information,
          communications and materials contained herein are not to be regarded as an offer, nor a solicitation for
          investments in
          any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it
          will be unlawful
          to make such offer or solicitation.
        </p>

        <p>
          All the data giving by a member to <a href="https://minecryptofx.com">Minecryptofx</a> will be only
          privately used and not
          disclosed to any third parties. Minecryptofx is not responsible or liable for any loss of data.
        </p>

        <p>
          You agree to hold all principals and members harmless of any liability. You are investing at your own risk
          and you
          agree that a past performance is not an explicit guarantee for the same future performance. You agree that
          all information, communications and materials you will find on this site are intended to be regarded as an
          informational and educational matter and not an investment advice.
        </p>

        <p>
          We reserve the right to change the rules, commissions and rates of the program at any time and at our sole
          discretion without notice, especially in order to respect the integrity and security of the members'
          interests.
          You agree that it is your sole responsibility to review the current terms.
        </p>

        <p>
          <a href="https://minecryptofx.com">Minecryptofx</a> is not responsible or liable for any damages,
          losses and costs resulting from any violation of the conditions and terms and/or use of our website by a
          member.
          You guarantee to Minecryptofx that you will not use this site in any illegal way and you agree to
          respect
          your local, national and international laws.
        </p>

        <p>
          Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our
          program
          FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with
          the
          administrator.
        </p>

        <p>
          We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and
          permanently removed from the program.
        </p>

        <p>
          <a href="https://minecryptofx.com">Minecryptofx</a> reserves the right to accept or decline any
          member for membership without explanation.
        </p>

      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>