@footer-height: 40px;
@container-md-max-width: 1100px;

[v-cloak] {
  display: none;
}

.all-dashboard {
  padding: 10px;
  padding-top: 75px;
  padding-bottom: 75px;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font: "Quicksand", sans-serif;
  color: #61656a;
  background: #fff;
}

p {
  text-align: justify;
  margin: 0 0 20px;
}
a {
  color: #61656a;
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
a:hover,
a:active,
a:focus {
  color: #222;
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
label {
  font-weight: 400;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: #fff;
  border: 1px solid #e1e5ed;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 14px;
  color: #333;
  height: 43px;
  line-height: 43px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.form-container textarea:focus,
textarea:focus {
  border: 1px solid #434f64;
}
textarea {
  color: #444;
  width: 100%;
  height: 155px;
  border: 1px solid #e1e5ed;
  padding: 10px;
  border-radius: 3px;
  resize: none;
  font-size: 14px;
}
input[type="submit"],
input[type="button"] {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  background: #91d252;
  border: none;
  border-radius: 2px;
  padding: 4px 40px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #434f64;
}
select {
  padding: 5px 20px 5px 10px;
  background: #fff url(../styles/images/arrow_down.png) no-repeat center right
    5px;
  color: #333;
  border: 1px solid #e1e5ed;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper,
.header_top,
.logo_wrapper,
.banner_wrap,
.home_features_wrap,
.home_stat_one,
.home_stat_mid,
.plan_wrap,
.welcome_wrap,
.why_choose_wrap,
.create_account_wrap,
.payment_logos,
.team_wrap,
.inside_wrap,
.wheretobuy,
.form_wrap,
.stat_updates,
.wheretobuy,
footer,
.news_block,
.contact_wrap,
.form-container-support,
.map,
.aff-banners,
.member_wrap,
.member-container,
.acc_button_wrap,
.planbox,
.certificate_wrap,
.home_about_buttons,
.logo-container,
.mem_main,
.membersidebar ul li,
.member-right .top,
.detailed-stats-box-wrap,
.withdraw-container,
.account_deposit,
.my_accont {
  width: 100%;
  float: left;
}

.form-title {
  color: #8498a9;
  line-height: 36px;
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: capitalize;
}

.header_top {
  background: #152136;
  color: #fff;
  line-height: 35px;
  font-size: 14px;
  padding: 16px 0;
}
.bitcoin,
.litecoin,
.ethereum {
  padding: 0 0 0 35px;
  margin: 0 25px 0 0;
  float: left;
}
.bitcoin span,
.litecoin span,
.ethereum span {
  color: #91d252;
}
.bitcoin {
  background: url(images/top_header_bitcoin.png) no-repeat left center;
  animation-delay: 0.1s;
}
.litecoin {
  background: url(images/top_header_litecoin.png) no-repeat left center;
  animation-delay: 0.2s;
}
.ethereum {
  background: url(images/top_header_ethreum.png) no-repeat left center;
  margin: 0;
  animation-delay: 0.3s;
}
.top_login {
  text-align: right;
  animation-delay: 0.4s;
  margin: 0;
  line-height: 36px;
}
.top_login h3 {
  margin: 0;
  line-height: 35px;
}
.top_login span {
  color: #91d252;
  text-transform: capitalize;
}
.top_login input[type="text"],
.top_login input[type="password"] {
  border: 1px solid #30415e;
  border-radius: 4px;
  margin: 0 10px 0 0;
  padding: 0 10px 0 40px;
  color: #fff;
  font-size: 14px;
  height: 35px;
  width: 200px;
}
.top_login input[type="text"] {
  background: url(images/username_icon.png) no-repeat 10px center #0e192b;
}
.top_login input[type="password"] {
  background: url(images/password_icon.png) no-repeat 10px center #0e192b;
}
.top_login input[type="submit"] {
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  padding: 0 30px;
}
.logo_wrapper {
  background: #152136;
}
.logo_wrapper .container > .row {
  border-top: 1px solid #515e72;
}
.banner_wrap {
  background: url(images/main_banner.jpg) top center no-repeat #152136;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-box-shadow: inset 0 0 6px #00000091;
  -webkit-box-shadow: inset 0 0 6px #00000091;
  box-shadow: inset 0 0 6px #00000091;
}
.banner_wrap.insiders {
  background: url(images/home_account_bg.jpg) no-repeat center center #212837;
}
.banner_left {
  padding: 0 0 260px;
}
.banner_left h1 {
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  text-transform: capitalize;
  margin: 90px 0 15px 0;
  font-weight: 400;
}
.banner_left h2 {
  font-size: 60px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 40px;
}
.banner_left h2 span {
  color: #91d252;
}
.banner_left h3 {
  font-size: 24px;
  margin: 0 0 10px;
  color: #fff;
  font-weight: 400;
}
.banner_left p {
  color: #fff;
  margin: 0 0 45px;
}
.banner_left a {
  width: 162px;
  height: 42px;
  text-align: center;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  color: #fff;
  display: inline-block;
  line-height: 42px;
  border-radius: 2px;
}
.banner_left a.login,
.banner_left a.signup:hover {
  background: #91d252;
}
.banner_left a.signup,
.banner_left a.login:hover {
  background: #434f64;
}
.home_features_wrap,
.home_stat_one {
  background: #edf5f8;
}
.home_features_wrap .row {
  margin: 20px 0;
}
.home_featuresbox_inside {
  border-radius: 4px;
  padding: 20px;
}
.home_featuresbox,
.member_box {
  text-align: center;
  padding: 20px;
  border-right: 1px solid #d6dce5;
  border-bottom: 1px solid #d6dce5;
}
.home_featuresbox.third,
.home_featuresbox.six,
.member_box.third,
.member_box.six {
  border-right: none;
}
.home_featuresbox.four,
.home_featuresbox.fifth,
.home_featuresbox.six,
.member_box.four,
.member_box.fifth,
.member_box.six {
  border-bottom: 0;
}
.home_featuresbox h3,
.member_box h2 {
  color: #8f96a3;
  text-transform: capitalize;
  margin: 25px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.home_featuresbox h3 span,
.member_box h2 span {
  color: #434f64;
  font-weight: 700;
  display: block;
}
.home_stat_one {
  padding: 30px 0 45px 0;
}
.comp_stat,
.detailed-stats-box {
  border: 1px solid #3eb6ed;
  border-radius: 6px;
  text-align: center;
  padding: 15px;
}
.comp_stat p,
.detailed-stats-box p {
  color: #79859b;
  text-transform: capitalize;
  margin: 0 0 22px;
  position: relative;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}
.comp_stat p:after,
.detailed-stats-box p:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background: #91d252;
  bottom: -12px;
  left: 50%;
  margin-left: -40px;
}
.comp_stat h4,
.detailed-stats-box h4 {
  font-size: 22px;
  color: #434f64;
  font-weight: 600;
  margin: 0;
}
.plan_wrap {
  background: #fff;
  padding: 55px 0 70px;
}
.plan_wrap h1,
.why_choose_wrap h1,
.team_wrap h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 68px;
  text-align: center;
  color: #434f64;
}
.planbox {
  border-radius: 8px;
}
.plan {
  background: #fff;
  text-align: center;
  width: 25%;
  float: left;
  padding: 0 0 50px;
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.1);
}
.plan h2 {
  font-size: 24px;
  margin: 25px 0 25px;
  color: #494b4d;
  font-weight: 500;
}
.plan h3 {
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.plan h3.planone {
  background: #91d252;
}
.plan h3.plantwo {
  background: #57a3e0;
}
.plan h3.planthree {
  background: #e8c336;
}
.plan h3.planfour {
  background: #ff5252;
}
.plan ul {
  padding: 10px 15px;
}
.plan ul li {
  font-size: 14px;
  line-height: 34px;
  color: #5b6467;
  border-bottom: 1px dotted #9db9cc;
}
.plan ul li:last-child {
  border-bottom: none;
}
.plan a {
  display: inline-block;
  background: #434f64;
  text-align: center;
  width: 190px;
  height: 50px;
  line-height: 50px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
}
.plan a:hover {
  background: #152136;
}
.home_stat_mid,
.team_wrap {
  background: url(images/comp_stat_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 20px 0 70px 0;
  text-align: center;
}
.home_stat_mid span.icon {
  display: block;
  margin: 60px 0 20px;
}
.home_stat_mid p {
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
  margin: 0 0 22px;
  position: relative;
}
.home_stat_mid p:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background: #91d252;
  bottom: -12px;
  left: 50%;
  margin-left: -40px;
}
.home_stat_mid h3 {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}
.welcome_wrap,
.wheretobuy {
  padding: 60px 0;
  background: #fff;
}
.welcome_wrap h1,
.wheretobuy h2,
.account_header,
.account_main,
.section-title {
  color: #91d252;
  font-size: 30px;
  margin: 10px 0 20px;
  font-weight: 500;
}
.welcome_wrap p,
.wheretobuy p {
  margin: 0;
}
.certificate_wrap {
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  border-radius: 6px;
}
.certificate_left {
  width: 50%;
  float: left;
}
.certificate_right {
  width: 50%;
  float: left;
  padding: 0 30px;
}
.certificate_right h3 {
  color: #202931;
  font-size: 16px;
  margin: 50px 0 10px;
  font-weight: 400;
}
.certificate_right h2 {
  color: #202931;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px;
}
.certificate_right a {
  font-size: 12px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 12px;
  color: #fff;
  margin: 10px 0;
  display: block;
}
.certificate_right a.view_details {
  background: #90d152;
}
.certificate_right a.view_certificate {
  background: #434f64;
}
.certificate_right a.view_certificate:hover,
.certificate_right a.view_details:hover {
  background: #152136;
}
.home_about_buttons {
  padding: 80px 0 40px;
}
.home_about_buttons a {
  line-height: 55px;
  border-radius: 2px;
  height: 55px;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  display: block;
  padding: 0 40px;
}
.acc_button {
  line-height: 45px;
  border-radius: 2px;
  height: 45px;
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
  display: block;
  padding: 0 12px;
  font-weight: bold;
}
.acc_button:hover {
  color: #fff;
}
.home_about_buttons a img,
.acc_button img {
  padding: 0 6px 0 0;
}
.home_about_buttons a.top_investor,
.home_about_buttons a.last_investor,
.acc_button.one {
  background: #90d152;
}
.home_about_buttons a.investor_stats,
.home_about_buttons a.total_paidout,
.acc_button.two {
  background: #434f64;
}
.home_about_buttons a:hover,
.acc_button:hover {
  background: #152136;
}

.clear {
  clear: both;
}

.feature {
  background: #edf5f8;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #a6c4ce;
  margin: 1em 0px;
  text-align: center;
}

.feature p {
  text-align: center;
  line-height: 24px;
}

.feature h2 {
  color: #434f64;
  font-weight: 400;
  font-size: 24px;
  margin: 5px 0 15px;
}

.program-features {
  margin-top: 2em;
}

.why_choose_wrap {
  background: #edf5f8;
  padding: 65px 0;
  text-align: center;
}
.why_box {
  background: #fff;
  border-radius: 6px;
  padding: 25px;
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.1);
  min-height: 310px;
}
.why_box span.icon {
  display: block;
  margin: 0 0 20px;
}
.why_box h3 {
  color: #434f64;
  font-weight: 400;
  font-size: 24px;
  margin: 5px 0 15px;
}
.why_box p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #6f6b6b;
  text-align: center;
}
.create_account_wrap {
  background: url(images/home_account_bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 75px 0;
  color: #fff;
  text-align: center;
}
.create_account_wrap h2 {
  line-height: 48px;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 35px;
}
.create_account_wrap a {
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  border-radius: 2px;
  height: 56px;
  line-height: 56px;
  width: 300px;
  display: inline-block;
  background: #90d152;
}
.create_account_wrap a:hover {
  background: #434f64;
}
.payment_logos {
  padding: 40px 0;
  text-align: center;
}
.payment_logos img {
  margin: 0 15px 10px;
}
footer {
  background: #1f2b3f;
  padding: 50px 0;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.copyright {
  padding: 0 0 15px;
}
footer h3 {
  margin: 0 0 35px;
  font-weight: 400;
  font-size: 18px;
  position: relative;
}
footer h3:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background: #90d152;
  bottom: -20px;
  left: 0;
}
footer p {
  margin: 0;
}
footer ul {
  width: 50%;
  float: left;
}
footer ul li {
  line-height: 24px;
}
footer ul li a {
  color: #fff;
  font-size: 14px;
}
footer ul li a:hover {
  color: #90d152;
}
.team_wrap h1 {
  color: #fff;
  padding-top: 40px;
}
.team {
  display: block;
  margin: 15px 0;
  position: relative;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
  -webkit-box-shadow: 0 16px 56px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 16px 56px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.team__img {
  display: block;
  position: relative;
  z-index: 1;
  background-color: rgba(68, 68, 68, 0.1);
}
.team__img img {
  width: 100%;
}
.team__title {
  font-size: 18px;
  font-weight: 500;
  color: #91d252;
  margin-top: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.2px;
  display: block;
  position: absolute;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  left: 20px;
  bottom: 20px;
  z-index: 3;
}
.team__position {
  font-size: 16px;
  color: #707070;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
  display: block;
  position: absolute;
  left: 20px;
  bottom: 40px;
  color: #fff;
  z-index: 3;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.team__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #91d252;
  z-index: 3;
}
.team__social li {
  margin: 0 10px;
}
.team__social a {
  display: block;
  line-height: 26px;
  font-size: 17px;
  color: #fff;
}
.team__social a:hover {
  color: #fff;
}
.team:hover .team__social {
  bottom: 0;
}
.team:hover .team__title {
  bottom: 70px;
}
.team:hover .team__position {
  bottom: 90px;
}
.inside_wrap,
.member_wrap {
  padding: 50px 0;
}
.form_wrap {
  padding: 60px 0;
}
.news_block {
  background: #fff;
  border-radius: 6px;
  padding: 25px;
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}
.news,
.support,
.howtowrap,
.banners {
  background: #edf5f8;
}
.member_wrap {
  background: #212837;
}
.news_title,
.refheader,
.form-container-support h2 {
  color: #434f64;
  font-weight: 500;
  font-size: 20px;
  margin: 5px 0 10px;
  display: block;
  text-transform: capitalize;
}
.news_time {
  display: block;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 0 0 8px;
  color: #888;
}
.faq {
  font-size: 14px;
  background: #edf5f8 url(images/faq_icons.png) no-repeat right 10px top 14px;
  padding: 10px 45px 10px 15px;
  display: block;
  border-left: 2px solid #434f64;
  margin-top: 3px;
  color: #434f64;
  margin-bottom: 3px;
  font-weight: 500;
  text-transform: uppercase;
}
.faq:hover,
.faq:focus,
.faq:active {
  background: #91d252 url(images/faq_icons_active.png) no-repeat right 10px top
    14px;
  color: #fff;
  border-left: 2px solid #434f64;
}
.faq_wrap .collapse {
  padding: 15px 0;
}
.faq_wrap .collapse a,
.faq_wrap .collapse a:hover {
  color: #fff;
}
.contact_wrap {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.contact_left {
  background: #212837;
  color: #fff;
  padding: 20px;
  border-radius: 4px 0 0 4px;
  left: 0;
  top: 0;
  height: 677px;
  position: absolute;
  display: block;
  float: left;
}
.form-container-support {
  padding: 0 0 30px;
}
.form-container-support h2 {
  margin-top: 20px;
}
.form-container-support input {
  width: 100%;
}
.map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.form-container-support table td {
  padding: 8px 0;
}
.address,
.email,
.phone {
  padding: 0 0 30px 90px;
}
.address {
  background: url(images/location.png) no-repeat left center;
}
.email {
  background: url(images/email.png) no-repeat left center;
}
.phone {
  background: url(images/phone.png) no-repeat left center;
}
.address h2,
.email h2,
.phone h2 {
  margin: 0 0 20px;
  font-size: 20px;
  position: relative;
  font-weight: 500;
  color: #91d252;
}
.address h2:after,
.email h2:after,
.phone h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  height: 3px;
  width: 40px;
  background: #91d252;
}
.address p,
.email p,
.phone p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}
.email a,
.email a:hover {
  color: #fff;
}
.banner_left.inside {
  padding: 0;
}
.banner_left.inside h1 {
  margin: 60px 0;
  text-align: center;
}
.aff-banners {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.1);
}
.aff-banners .nav-tabs {
  background: #91d252;
  border-radius: 4px;
}
.aff-banners .nav-tabs > li > a {
  margin-right: 0;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.aff-banners .nav > li {
  padding: 0 20px;
  margin: 12px 0;
}
.aff-banners .nav-tabs > li.active > a,
.aff-banners .nav-tabs > li.active > a:hover,
.aff-banners .nav-tabs > li.active > a:focus {
  color: #434f64;
  background-color: #fff;
  border: none;
  cursor: default;
  padding: 6px 15px;
  border-radius: 3px;
}
.aff-banners .nav-tabs > li > a:hover,
.aff-banners .nav-tabs > li:hover > a {
  padding: 6px 15px;
  border-radius: 3px;
  color: #434f64;
}
.aff-banners .tab-content > .tab-pane {
  padding: 20px 0 0 0;
  text-align: center;
}
.howto {
  background: #fff;
  border-radius: 6px;
  padding: 25px;
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.1);
  min-height: 580px;
  margin: 15px 0;
}
.howto h2 {
  color: #434f64;
  font-weight: 400;
  font-size: 24px;
  margin: 25px 0 15px;
}
.howto p {
  margin: 0;
}
.wheretobuy-list ul {
  margin: 54px 0 0 0;
  line-height: 38px;
}
.wheretobuy-list ul li {
  padding: 0 0 0 45px;
  background: url(images/check.png) no-repeat 5px center;
}
.form_wrap {
  background: url(images/comp_stat_bg.jpg) #152136 no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #91d252;
  border-top: 1px solid #91d252;
}
.alluserform table td {
  padding: 8px;
}
.alluserform table td a {
  font-size: 14px;
  color: #fff;
}
.alluserform table td a:hover {
  color: #91d252;
}
.alluserform input[type="text"],
.alluserform input[type="password"],
.alluserform input[type="email"] {
  width: 100%;
}
.alluserform h3,
.logo-container h3 {
  padding: 0;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0 30px;
  color: #91d252;
  font-size: 28px;
}
.new_user a {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  background: #91d252;
  border: none;
  border-radius: 2px;
  padding: 2px 40px;
  background: #515e72;
  margin-left: 5px;
}
.new_user a:hover {
  background: #91d252;
  color: #fff !important;
}
.form-group_checkbox {
  color: #fff;
  font-size: 14px;
}
.form-group_checkbox a {
  color: #91d252;
}
.form-group_checkbox a:hover {
  color: #fff;
}
.chckcontent {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
}
.chckcontent input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.chckcontent:hover input ~ .checkmark {
  background-color: #ccc;
}
.chckcontent input:checked ~ .checkmark {
  background-color: #91d252;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.chckcontent input:checked ~ .checkmark:after {
  display: block;
}
.chckcontent .checkmark::after {
  left: 10px;
  top: 7px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login_redirect {
  background: #152136;
}
.logo-container {
  margin: 150px 0;
  padding: 50px 0;
  text-align: center;
  background: #212837;
  border-top: 2px solid #91d252;
  border-bottom: 2px solid #91d252;
}
.mem_main {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.account_leftbar {
  width: 25%;
  background: #91d252;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 6px 0 0 6px;
  padding: 5px;
}
.account_rightbar {
  width: 73%;
  float: right;
}
.membersidebar {
}
.membersidebar ul {
}
.membersidebar ul li {
  line-height: 48px;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #fff;
}
.membersidebar ul li:last-child {
  border: none;
}
.membersidebar ul li:hover {
  background: #212837;
}
.membersidebar ul li a {
  line-height: 44px;
  color: #fff;
  float: left;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}
.membersidebar ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.membersidebar ul li span {
  float: left;
  margin: 0 8px 0 0;
  width: 44px;
  height: 44px;
}
.membersidebar ul li span.one {
  background: url(images/accleft1.png) no-repeat scroll center center;
}
.membersidebar ul li span.two {
  background: url(images/accleft2.png) no-repeat scroll center center;
}
.membersidebar ul li span.three {
  background: url(images/accleft3.png) no-repeat scroll center center;
}
.membersidebar ul li span.four {
  background: url(images/accleft4.png) no-repeat scroll center center;
}
.membersidebar ul li span.five {
  background: url(images/accleft5.png) no-repeat scroll center center;
}
.membersidebar ul li span.six {
  background: url(images/accleft6.png) no-repeat scroll center center;
}
.membersidebar ul li span.seven {
  background: url(images/accleft7.png) no-repeat scroll center center;
}
.membersidebar ul li span.eight {
  background: url(images/accleft8.png) no-repeat scroll center center;
}
.membersidebar ul li span.nine {
  background: url(images/accleft9.png) no-repeat scroll center center;
}
.membersidebar ul li span.ten {
  background: url(images/accleft10.png) no-repeat scroll center center;
}
.member-right {
  padding: 15px 15px 25px;
  min-height: 580px;
  overflow: hidden;
}
.member-right .top {
  background: #434f64;
  border-radius: 2px;
  color: #fff;
  padding: 5px 30px;
}
.member-right .top p {
  margin: 0;
  line-height: 40px;
  float: left;
  padding: 0 0 0 50px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  background: url(images/ref_icon.png) no-repeat left center;
}
.member-right .top h2 {
  margin: 0;
  float: right;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
}
.member-right .top h2 a {
  color: #91d252;
}
.member-right .top h2 a:hover {
  color: #fff;
}
.acc_button_wrap,
.member-right .top,
.detailed-stats-box-wrap {
  margin-top: 25px;
}
.member-right table {
  border-top: 1px solid #e1e5ed;
  border-right: 1px solid #e1e5ed;
  width: 100%;
}
.member-right table td {
  border-bottom: 1px solid #e1e5ed;
  border-left: 1px solid #e1e5ed;
  padding: 4px 8px;
  font-size: 13px;
  text-align: left;
}
.member-right table tr:nth-child(even) {
  background: #f1f4f9;
}
.member-right table td.inheader {
  background: #212837;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid #0d1119;
}
.alert-info {
  margin: 0;
  text-align: center;
}
.withdraw-container {
  margin: 25px 0 0 0;
}
.btn.btn-info {
  color: #fff;
  background-color: #91d252;
  border-color: #91d252;
  border-radius: 50px;
  padding: 5px 15px;
}
.btn.btn-info:hover {
  background: #434f64;
  border: 1px solid #434f64;
}
.account_rightbar .aff-banners {
  box-shadow: 0 0 0 0;
  border-radius: 0;
  padding: 0;
}
.fullwidthinput {
  width: 100%;
  text-align: right;
  font-weight: 500;
}
.account_deposit {
  padding: 0 0 25px;
}
.account_deposit .plan {
  padding-bottom: 15px;
  position: relative;
}
.account_deposit .plan h3 {
  line-height: 40px;
  font-size: 24px;
}
.account_deposit .plan h2 {
  font-size: 19px;
  margin: 15px 0 15px;
}
.account_deposit .plan ul li {
  font-size: 13px;
  line-height: 30px;
}
.account_deposit .radio {
  background: #434f64;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 4px 20px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
}
.account_deposit input[type="radio"] {
  display: none;
}
.account_deposit input[type="radio"]:checked + .radio {
  background: #90d152;
}
.forgot_pw p {
  color: #fff;
}
.detailed-stats-img {
  margin: 0 0 10px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .account_leftbar {
    width: 27%;
  }
  .account_rightbar {
    width: 71%;
  }
  .home_featuresbox h3,
  .member_box h2 {
    font-size: 15px;
  }
  .wheretobuy-list ul li {
    font-size: 14px;
  }
  .contact_left {
    height: 670px;
  }
  .bitcoin,
  .litecoin,
  .ethereum {
    font-size: 10px;
  }
  .top_login input[type="text"],
  .top_login input[type="password"] {
    width: 160px;
  }
  .banner_left h1 {
    font-size: 36px;
    line-height: 32px;
  }
  .banner_left h2 {
    font-size: 50px;
  }
  .banner_left h3 {
    font-size: 22px;
  }
  .why_box {
    min-height: 370px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
@media screen and (max-width: 1024px) {
  .acc_button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 22px;
  }
  .detailed-stats-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .plan h3 {
    font-size: 24px;
  }
  .payment_logos img {
    margin: 0 1px;
  }
  footer,
  footer ul li a {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
  .payment_logos img {
    margin: 10px;
  }
  .wheretobuy-list ul {
    margin: 0;
  }
  .wheretobuy-list {
    margin: 25px 0 0 0;
  }
  .howto {
    min-height: inherit;
  }
  .contact_left {
    position: relative;
    border-radius: 4px;
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .stat_updates {
    text-align: center;
  }
  .bitcoin,
  .litecoin,
  .ethereum {
    float: none;
    display: inline-block;
  }
  .top_login {
    text-align: center;
    padding: 10px 0 0 0;
  }
  .home_featuresbox h3 {
    font-size: 15px;
  }
  .comp_stat {
    margin: 15px 0;
  }
  .plan ul li {
    font-size: 12px;
    line-height: 26px;
  }
  .plan a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .home_about_buttons a {
    margin: 10px 0;
  }
  .why_box {
    margin: 10px;
  }
  footer h3 {
    margin-top: 15px;
  }
  .plan {
    width: 50%;
  }
}
@media screen and (max-width: 736px) {
  .member-right .top p,
  .member-right .top h2 {
    width: 100%;
    float: left;
  }
  .account_leftbar {
    position: relative;
    border-radius: 0;
    width: 100%;
    float: left;
  }
  .membersidebar ul li {
    width: 50%;
  }
  .membersidebar ul li:last-child {
    border-bottom: 1px solid #fff;
  }
  .account_rightbar {
    width: 100%;
    float: left;
  }
  .logo {
    text-align: center;
  }
  .home_featuresbox {
    border-right: 0;
    border-bottom: 1px solid #d6dce5 !important;
  }
  .home_featuresbox.six {
    border: none !important;
  }
}
@media screen and (max-width: 667px) {
}
@media screen and (max-width: 568px) {
  .aff-banners .nav > li {
    padding: 0 10px;
  }
  .form-container-support td,
  .member-right table td {
    display: block;
    width: 100%;
  }
  .nav > li {
    margin: 13px 0px;
  }
  .banner_left h1 {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    text-transform: capitalize;
    margin: 60px 0 15px 0;
  }
  .banner_left h2 {
    font-size: 50px;
    line-height: 40px;
    margin: 0 0 30px;
  }
  .home_featuresbox h3 {
    font-size: inherit;
  }
  .create_account_wrap h2 {
    line-height: 42px;
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 414px) {
  .membersidebar ul li {
    width: 100%;
  }
  .nav > li {
    margin: 5px 0px;
    width: 100%;
    border-bottom: 1px solid #30415e;
  }
  .bitcoin,
  .litecoin,
  .ethereum {
    padding: 0 0 0 30px;
    margin: 0 15px 0 0;
    font-size: 9px;
  }
  .top_login input[type="text"],
  .top_login input[type="password"] {
    border: 1px solid #30415e;
    border-radius: 4px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 40px;
    color: #fff;
    font-size: 10px;
    width: 130px;
    float: left;
  }
  .banner_left h1 {
    font-size: 24px;
    line-height: 26px;
    margin: 30px 0 15px 0;
  }
  .banner_left h2 {
    font-size: 36px;
    line-height: 34px;
  }
  .banner_left h3 {
    font-size: 17px;
  }
  .plan_wrap h1,
  .why_choose_wrap h1,
  .welcome_wrap h1 {
    font-size: 25px;
    margin: 0 0 30px;
  }
  .plan h2 {
    font-size: 20px;
  }
  .plan,
  .certificate_left,
  .certificate_right {
    width: 100%;
  }
  .why_box h3 {
    font-size: 20px;
  }
  .create_account_wrap h2 {
    line-height: 26px;
    font-size: 20px;
  }
  .howto h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .top_login input[type="text"],
  .top_login input[type="password"],
  .top_login input[type="submit"] {
    width: 100%;
    margin: 0 0 5px;
  }
  .banner_left a {
    width: 150px;
  }
  .bitcoin,
  .litecoin,
  .ethereum {
    padding: 0 0 0 28px;
    margin: 0 5px 0 0;
  }
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
  .create_account_wrap a {
    font-size: 16px;
    height: 46px;
    line-height: 46px;
  }
  .create_account_wrap h2 {
    font-size: 18px;
  }
  .banner_left h1 {
    font-size: 20px;
    line-height: 26px;
  }
  .banner_left h2 {
    font-size: 30px;
  }
  .banner_left h3 {
    font-size: 14px;
  }
  .banner_left p {
    font-size: 13px;
  }
  .banner_left a {
    width: 130px;
  }
  .plan_wrap h1,
  .why_choose_wrap h1,
  .welcome_wrap h1 {
    font-size: 21px;
  }
  .plan h2,
  .howto h2 {
    font-size: 16px;
  }
}

#page-wrap {
  height: 100%;
  /* lesshint-disable */
  height: auto !important; /* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;

  header {
    .logo {
      height: 20px;
    }
    a {
      cursor: pointer;
    }
    .dropdown-menu.account-menu {
      left: auto;
      right: 0px;
    }
  }
}

#page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  .xs-only {
    display: none;
  }
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

@media (max-width: 800px) {
  #page-wrap {
    padding-bottom: 75px;
    #page-footer {
      height: 75px;
      .copy,
      .nav {
        width: 100%;
        display: block;
        text-align: center;
        .nav-item {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #page-wrap {
    padding-bottom: 85px;
    #page-footer {
      height: 85px;
      .xs-only {
        display: block;
      }
    }
  }
}
