<div id="about" v-cloak>
  <div class="container">
    <h2>About us</h2>
    <br />
    <div class="col-sm-12">
      <p>
        <a href="https://minecryptofx.com">Minecryptofx</a> has been operating since 2010,
        simultaneously with the concept of
        "cryptocurrency". And in 2016 Coinbooster.live was officially registered as
        an investment company. Initially our company consisted of three people – young
        investors with initial capital who decided that electronic money is the
        future of financial markets.
      </p>
      <p>
        Now <a href="https://minecryptofx.com">Minecryptofx</a> has thousands of investors all over
        the world. Extensive functioning of services of online instantaneous payments allowed us to go
        beyond England and now geography of our partners spreads on to 36 countries of the world and
        we intend to go further.
      </p>

      <h4 class="my-4">Let us talk about how exactly we earn money for you to clearly understand what you are investing
        into.</h4>

      <p>
        Bitcoin is a revolutionary electronic currency, which can be used in the Internet only. Its main
        peculiarity is that it is decentralized, which means it is not controlled by anyone but is used by
        millions. This is pure mathematics, numeric algorithm that created by a clever Japanese - Satoshi Nakamoto,
        once turned into money.
      </p>

      <p>
        Process of bitcoins creation is called mining. It is exactly mining that <a
          href="https://minecryptofx.com">Minecryptofx</a>
        is earning profit on. The essence of mining is that computers all over the world make complex computing
        operations
        through which bitcoins are created. Decentralization of this process provides high level of protection.
        Crypto-currency mining is a mathematical contest in which a big number of miners take part,
        the winner being the one who solves the task faster than the others by picking a hash fitting all new
        transactions.
      </p>
      <p>
        The main thing in this business is the capacity of technical equipment, and that’s what <a
          href="https://minecryptofx.com">Minecryptofx</a>
        invests in. In the earlier days to become a miner you needed only an open code from a developer and an ordinary
        home PC.
        Several years passed and to earn profit from crypto-currency now you have to use complex ASIC high-performance
        systems.
        Cost of such equipment makes up to millions of dollars.
        The essence of mining is that computers all over the world make
        complex computing operations through which bitcoins are created. Decentralization of this process provides high
        level
        of protection. Crypto-currency mining is a mathematical contest in which a big number of miners take part, the
        winner
        being the one who solves the task faster than the others by picking a hash fitting all new transactions.
      </p>
    </div>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>