<div id="admin" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/admin.less</em>, <em>assets/js/pages/admin.page.js</em>, and <em>api/controllers/view-admin.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
