<div id="faq">
  <div class="container">
    <h1>FAQ</h1>

    <br />

    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion10" class="active" aria-expanded="true">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. What is a Bitcoin?</h4>
          </a>
        </div>
        <div id="accordion10" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
          <div class="panel-content">
            <p class="text-dark">In simple words it is a brand new kind of decentralized electronic currency,
              which can be used in the Internet only.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion11" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. I want the real money, not the electronic ones!</h4>
          </a>
        </div>
        <div id="accordion11" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Oh, but it is that simple! Due to its sound liquidity crypto-currency is
              easily exchanged to real money at a very appealing rate.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. What is the source of your company&#039;s income?</h4>
          </a>
        </div>
        <div id="accordion12" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">The detailed answer to this question is given in <strong>About Us</strong>
              section. In short, <a href="https://coinbooster.live">coinbooster.live</a> earns its profit by
              crypto-currency mining, smart contracts and speculation in crypto-currency exchange rates.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How can I get the money out?</h4>
          </a>
        </div>
        <div id="accordion13" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">To get your money out simply request for withdrawal and it will be sent to
              the electronic Wallet Address you provided.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Who can become the company&#039;s client?</h4>
          </a>
        </div>
        <div id="accordion14" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Absolutely anyone! There is no matter whether you are a businessman or not,
              what your social status is and other status indicators. All you need is enough money starting
              with minimum funds and higher to invest in our company (minimum threshold being 0.01 ВТС = $9.6
              with the exchange rate as of time of answering the question).</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How long will your company work?</h4>
          </a>
        </div>
        <div id="accordion15" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">For a long time, we hope. We have gained unique six-years experience of
              success in dealing with cryptocurrencies. We are officially registered investment company since
              2016. Our achievements as well as constant increase of investment plan and our will to work hard
              are an evidence of our further successful development.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion16" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How to become a client of coinbooster.live</h4>
          </a>
        </div>
        <div id="accordion16" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">It is incredibly simple! All you need to do is to register at our website,
              contribute money in any convenient way and that makes you become our partner.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion17" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. When do I start gaining income?</h4>
          </a>
        </div>
        <div id="accordion17" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Having chosen the investment plan and deposited money, you start earning
              income after each of 24 hours for 20 or 30 days, or after 10 days depending on which plan you
              chose. Such a quick reinvestment of your money is possible due to the efficient system of cash
              flow acquired for the years of experience in the sphere.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion18" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Can I make several accounts?</h4>
          </a>
        </div>
        <div id="accordion18" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Yes. It is possible.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion19" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Can my family members become investors as well?</h4>
          </a>
        </div>
        <div id="accordion19" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Anyone over 18 years old may become our partner.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion110" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How do I invest?</h4>
          </a>
        </div>
        <div id="accordion110" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">It is incredibly simple. You need to register at our website, choose one of
              the three investment plans and make a deposit.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion111" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How do I register in the payment system you work with?</h4>
          </a>
        </div>
        <div id="accordion111" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Just follow the rules of registration of an online payment system.
              Below we have listed the websites of online payment services we work with.<br />
              <a href="https://bitcoin.com">bitcoin.com</a><br />
              <a href="https://payeer.com">payeer.com</a><br />
              <a href="https://advcash.com">advcash.com</a></p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion112" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. What is the currency you use for clearing payments and financial
              transactions?</h4>
          </a>
        </div>
        <div id="accordion112" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">The main currency of our website is BTC (Bitcoin). You can make your
              investment through 3 payment systems we work with.
              Make your investment through <a href="https://www.bitcoin.com">www.bitcoin.com</a>. If you don't
              have BTC, you may use
              AdvCash or Payeer to make your investment. In this case, your USD deposit will be converted to
              BTC.
              Withdrawal of your profits is performed in the same way. You may withdraw your BTC through
              <a href="https://www.bitcoin.com">www.bitcoin.com</a> or Perfect Money, AdvCash and Payeer
              (BTC will be converted to USD and transferred to your electronic wallet).</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion113" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How much time does it take to add deposit in my account?</h4>
          </a>
        </div>
        <div id="accordion113" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Deposit via Payeer or AdvCash will be credited immediately. In case you make
              a deposit via Bitcoin, your deposit will be credited after 3 - 6 confirmations (processing time:
              30 - 120 minutes).</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion114" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. I have sent money for a while. But it hasn&#039;t been added to
              my account. What can I do?</h4>
          </a>
        </div>
        <div id="accordion114" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">In this case, you need to contact us and let us know your username as well as
              payment information.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion115" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Can I earn profit on weekends?</h4>
          </a>
        </div>
        <div id="accordion115" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">No you can earn profit 5 days a week</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion116" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Can I get my deposit back at the end of investment period?</h4>
          </a>
        </div>
        <div id="accordion116" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">It depends on which investment plan you choose. In case you made the deposit
              with the plan "10% daily for 2 days", you will get it back. Otherwise, it is included in your
              profits.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion117" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. If my partners make deposits from account balance, is it
              possible to receive a commission reward?</h4>
          </a>
        </div>
        <div id="accordion117" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">No. It's impossible. The commission reward is only calculated when your
              partners make deposits via payment systems directly.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion118" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Is there any fee for making deposits and withdrawing funds?</h4>
          </a>
        </div>
        <div id="accordion118" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">No. There's no hidden fee.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion119" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. When can I get the money out?</h4>
          </a>
        </div>
        <div id="accordion119" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">At anytime. The main rule is that amount of money should exceed the minimum
              threshold of 0.0002 ВТС.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion120" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How can I get the money out?</h4>
          </a>
        </div>
        <div id="accordion120" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">To get your money out you may use any of the instant online payment systems
              offered at our website, such as Perfect Money, Bitcoin, Payeer, Advcash.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion121" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How quickly can I get the money out of the website?</h4>
          </a>
        </div>
        <div id="accordion121" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">You need to create on your own a request for getting money out and the
              payment will be immediately transferred to your electronic wallet. In case of errors of the
              payment systems, the payment may be delayed for over 24 hours.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion122" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. What is the possibility of losing my money?</h4>
          </a>
        </div>
        <div id="accordion122" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">We wish we could say there is none, however, only the frauds can give such a
              ‘guarantee’. There is always a probability of investment loss in any business. However, in case
              of investment in <a href="https://coinbooster.live">coinbooster.live</a> this probability is
              minimal. It is so small that we are ready to act as a kind of guarantor of your contribution.
            </p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion123" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Is it dangerous to make financial transactions at your website
              and how safe is my personal data?</h4>
          </a>
        </div>
        <div id="accordion123" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">We pride in safety level of our website. We use a lot of safety certificates
              from various international companies dealing in protection of personal data. You may see the
              list of certificates at the homepage of the website.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion124" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Is there a referral program at your website?</h4>
          </a>
        </div>
        <div id="accordion124" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Yes. The company has a four-level referral program. Terms and conditions of
              referral cooperation are listed on “Partners” page.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion125" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. How does this referral program work?</h4>
          </a>
        </div>
        <div id="accordion125" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">To receive a commission of the referral program you need to bring a new
              partner to the website who would use your referral link while creating an account and making a
              contribution.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">
          <a data-parent="#accordion1" data-toggle="collapse" href="#accordion126" class="collapsed"
            aria-expanded="false">
            <span class="open-sub"></span>
            <h4 class="text-theme-colored">Q. Can I become an official representative?</h4>
          </a>
        </div>
        <div id="accordion126" class="panel-collapse collapse " role="tablist" aria-expanded="false">
          <div class="panel-content">
            <p class="text-dark">Yes, you are welcome to. If you want to become our official representative
              just click on "Upgrade" button to send your information and our managers will give you all the
              necessary information on this matter. Moreover, for intensive participation in company
              development as a partner, you are liable to a bonus, for detailed information see “Partners”
              page.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>