<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <coingecko-coin-price-marquee-widget currency="usd" coin-ids="bitcoin,ethereum,eos,ripple,litecoin" locale="en">
  </coingecko-coin-price-marquee-widget>

  <section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">

      <div class="owl-one owl-carousel owl-theme">
        <div class="item">
          <li>
            <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg mx-auto text-center">
                    <h5>
                      Trading And Synthetic Index Investment Platform.
                    </h5>
                  </div>

                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg mx-auto text-center">
                    <h5>Stable income with cryptocurrency trading</h5>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
    <!-- /main-slider -->
  </section>

  <div class="container">
    <div class="container">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_12619"></div>
        <div class="tradingview-widget-copyright">
          <a href="https://www.tradingview.com/symbols/FX-EURUSD/" rel="noopener" target="_blank"><span
              class="blue-text">EURUSD chart</span></a>
          by TradingView
        </div>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <br />

    <section class="w3l-index1" id="aboutx">
      <div class="calltoaction-20  py-5 editContent">
        <div class="container py-md-3">

          <div class="calltoaction-20-content row">
            <div class="column center-align-self col-lg-6 pr-lg-5">
              <h5 class="editContent">Who We Are</h5>
              <p class="more-gap editContent">We bring to the table win-win trading and mining strategies to ensure
                proactive domination with the leading and fastest growing cryptocurrency.</p>
              <p class="more-gap editContent">Numquam
                Our transactions are open with records you can trust and investment statistics on demand at anytime of
                your choice by allocated account managers. </p>
              <a class="btn btn-secondary btn-theme2 mt-2 mt-lg-3" href="/about"> Read More</a>
            </div>
            <div class="column ccont-left col-lg-6 mt-lg-0 mt-5">
              <video width="100%" height="auto" loop autoplay controls>
                <source src="/videos/wow1.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="w3l-index6" id="service">
      <div class="features-with-17_sur py-5">
        <div class="container py-lg-5">
          <div class="features-with-17-top_sur">
            <div class="row">
              <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="features-with-17-right-tp_sur">
                  <div class="features-with-17-left1 mb-3">
                    <span class="fa fa-lightbulb-o" aria-hidden="true"></span>
                  </div>
                  <div class="features-with-17-left2">
                    <h6><a href="#url"><b>100% </b>
                        Profit Guarantee</a></h6>
                    <p>
                      We guarantee the best profits in the market and you have nothing to fear because we trade and
                      handle the losses you get your profits.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                <div class="features-with-17-right-tp_sur">
                  <div class="features-with-17-left1 mb-3">
                    <span class="fa fa-recycle" aria-hidden="true"></span>
                  </div>
                  <div class="features-with-17-left2">
                    <h6><a href="#url"><b>Management</b> Team</a></h6>
                    <p>
                      we are proud to boast of some of the world's best, most experienced and professional currency,
                      synthetic index traders and analysis management team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                <div class="features-with-17-right-tp_sur">
                  <div class="features-with-17-left1 mb-3">
                    <span class="fa fa-bar-chart" aria-hidden="true"></span>
                  </div>
                  <div class="features-with-17-left2">
                    <h6><a href="#url"><b>Easy And </b>Convenient</a> </h6>
                    <p>
                      You invest, and we take care of the rest for you, providing you with convenient, user-friendly
                      tools for controlling your money anytime
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br />

    <iframe width="100%" height="300" src="https://www.youtube.com/embed/a26-qqczG1Y" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />

    <!-- <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="comp_stat bounce wow animated" style="visibility: visible; animation-name: bounce;">
          <p>Started</p>
          <h4>Jan 7, 2019</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="comp_stat bounce wow animated" style="visibility: visible; animation-name: bounce;">
          <p>total accounts</p>
          <h4>{{ userCount + 10}}</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="comp_stat bounce wow animated" style="visibility: visible; animation-name: bounce;">
          <p>total deposit</p>
          <h4>${{ totalWithdraw }}0</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="comp_stat bounce wow animated" style="visibility: visible; animation-name: bounce;">
          <p>total withdraw</p>
          <h4>${{ totalDeposit }}0</h4>
        </div>
      </div>
    </div>
    <br /> -->
    <!-- investment plans -->
    <investment-plans />
    <!--//  investment plans -->



    <h3>Why choose MINECRYPTOFX</h3>
    <br />
    <div class="row">
      <div class="card-group">
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
              <img src="/images/copy/whychoose_1.png" />
              <br />
              <h5 class="card-title">Easy to Use</h5>

              <p class="card-text">
                Whether you are a beginner or a veteran in the online investment
                field, we are sure that you will find our platform easy to use.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
              <img src="/images/copy/whychoose_2.png" />

              <br />
              <h5 class="card-title">Professional Team</h5>
              <p class="card-text">
                We have a team of experienced and qualified financial analysts
                who are developing new strategies.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
              <img src="/images/copy/whychoose_3.png" />

              <br />
              <h5 class="card-title">24/7 Support</h5>
              <p class="card-text">
                We provide unbeatable support service through mail support and
                livechat to cater your needs and give a professional, fast and
                effectively response.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron well bg-light text-center">
      <h3>
        Bitcoinminer is Long-Term, Stable an Instant Cashout Program
      </h3>
      <br />
      <a class="btn btn-primary btn-lg" href="/signup/?userMode=true" role="button">Create your account</a>
    </div>
  </div>


  <!---- -->
  <div class="container">
    <div class="pep-talk text-center">
      <h3>Let's get to work.</h3>
      <p>
        They say money doesn't grow from the ground, well it does with crypto currencies because at InvestPlum we have
        assembled a group of world-class engineering, strategic currency, synthetic index traders and investment logic
        experts for growing investments and making profits for both parties.
        Bitcoinminer is United Kingdom registered company, (Company Number:
        03624767. Unit 1 Lancaster Court, Coronation Road, Cressex Business
        Park, High Wycombe, Buckinghamshire, HP12 3TD.) we are an 7/24
        crypto-currency trading platform that works automatically, and it has
        been registered in the UK company, we offer a no-experience trading
        method to help you remove unnecessary risks. Over the past five years,
        our experts have come up with a workable automated arbitrage trading
        software from manual strategic trading that can help you earn a lot of
        money. In 2017, we made a record of $1 million per day. From spot
        trading, futures trading and investment ICO project, we invested TRX and
        NEO heavily through our analysis and earned tens of millions of dollars.
        we are accept bitcoin, ethereum, bank wire
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>