<div id="add-money" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/admin/add-money.less</em>, <em>assets/js/pages/admin/add-money.page.js</em>, and <em>api/controllers/admin/view-add-money.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
