<div id="admin-dashboard" v-cloak>
  <!-- Content Row -->
  <div class="row justify-content-center">
    <!-- USERS -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Users
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ Number(userCount) - 1 }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Earnings
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" @click="gotoPendingRequest">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Pending Requests
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ pendingWithdrawalsCount }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Un-Activated Users:</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">emailAddress</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(user, i) in unactivatedUsers" :key="i">
        <th scope="row">{{ i }}</th>
        <td>{{ user.fullName }}</td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.password }}</td>
        <td>
          <a :href="'/admin/user/'+ user.id" class="btn btn-primary">view</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br />

  <h4>Activated Users:</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">emailAddress</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(user, i) in activatedUsers" :key="i">
        <th scope="row">{{ i }}</th>
        <td>{{ user.fullName }}</td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.password }}</td>
        <td>
          <a :href="'/admin/user/'+ user.id" class="btn btn-primary">view</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>