<div id="user" class="container" v-cloak>
  <center>
    <div v-if="!user.isActivated" class="alert alert-warning">
      This user is deactivated
    </div>

    <div style="width: 500px; text-align: left">
      <h4>Showing records for {{ user.fullName }}</h4>

      <br />
      <h6>
        Double click on the values you want to change and click "save changes"
      </h6>

      {{user.isSuperAdmin}}
      <div v-if="user.isSuperAdmin" class="alert alert-warning" style="margin: 10px;">
        This account is an admin account, changing attributes here may affect the admins ability to login (if set
        incorrectly), if you want
        to change the BTC address of this user make usre that the BTC field is only affected by the change you're trying
        to make
      </div>
      <ajax-form action="updateUserProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError"
        @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div v-for="(_user, i) in user" :key="i" class="form-group">
          <label :for="i">
            <b>
              {{ normalizeText(i) }}
            </b>
          </label>

          <div v-if="i == 'isActivated' && !user.isSuperAdmin">
            <div class="alert alert-info text-left">
              This option below simply allows you to easily <b>activate</b> or <b>deactivate</b> this user, only use
              this
              option list when the user has credited your bitcoin wallet and needs permission to start earning
            </div>
            <div class="form-group">
              <select class="form-control" v-model="user[i]">
                <option value="true">Activate User</option>
                <option value="false">Deactivate User</option>
              </select>
            </div>
          </div>


          <div v-else-if="i == 'accountType'">
            <div class="form-group">
              <select class="form-control" v-model="user[i]">
                <option value="mining">Mining</option>
                <option value="trading">Trading</option>
              </select>
            </div>
          </div>

          <div v-else-if="i == 'planType'">
            <div class="form-group">
              <select class="form-control" v-model="user[i]">
                <option value="basic">Basic</option>
                <option value="classic">Classic</option>
                <option value="vip">VIP</option>
                <option value="ruby">Ruby</option>
              </select>
            </div>
          </div>

          <div v-else-if="i == 'isActivated'">
            <div class="form-group">
              <select class="form-control" v-model="user[i]">
                <option value="true">Activate account</option>
                <option value="false">Deactivate account</option>
              </select>
            </div>
          </div>

          <div v-else>
            <input :name="i" class="form-control" :disabled="i == 'id'" :placeholder="_user"
              :class="[formErrors[_user] ? 'is-invalid' : '']" v-model="user[i]" />
          </div>
          <div class="invalid-feedback" v-if="formErrors[_user]">
            Please enter this value
          </div>
        </div>
        <p class="text-danger" v-if="cloudError">
          <small>An error occured while processing your request. Please check your
            information and try again, or
            <a href="/contact">contact support</a> if the error persists.</small>
        </p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Save changes</ajax-button>
        </div>
        <div class="alert alert-success" v-if="cloudSuccess">
          Profile edited successfully
        </div>
      </ajax-form>
    </div>
  </center>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>