<div id="users" class="container" v-cloak>
  <div class="h3">Users</div>
  <table class="table table-hover table-responsive-md table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Wallet amount</th>
        <th scope="col">Bitcoin address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <th scope="row">{{ user.fullName }}</th>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.walletAmount }}</td>
        <td>{{ user.bitcoinAddress || "No address" }}</td>
        <td>
          <a :href="`/admin/user/${user.id}`" class="btn btn-secondary"
            >Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>
