<div class="container" id="withdraw-request" v-cloak>
  <h3>Pending Withdraw Request</h3>
  <br />
  <div>
    <table class="table table-striped responsive-md">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Amount</th>
          <th scope="col">User</th>
          <th scope="col">Description</th>
          <th scope="col">BTC Address</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(withdraw, i) in pendingWithdrawals" :key="i">
          <th scope="row">{{ i + 1 }}</th>
          <td>${{ withdraw.amount }}</td>
          <td>
            <a :href="`/admin/user/${withdraw.user.id}`">{{
              withdraw.user.fullName
            }}</a>
          </td>
          <td>{{ withdraw.description }}</td>
          <td>{{ withdraw.user.bitcoinAddress }}</td>
          <td class="text-uppercase font-weight-bold">{{ withdraw.status }}</td>
          <td>
            <js-timestamp :at=" withdraw.createdAt " format="timeago" short="true"></js-timestamp>
          </td>
          <td>
            <div class="form-group">
              <select @change="updateWithdrawStatus(withdraw.id, $event.target.value)" class="form-control">
                <option>Select action</option>
                <option value="success">Approve</option>
                <option value="failed">Decline</option>
                <option value="pending">Pending</option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>